# SPDX-License-Identifier: Apache-2.0
# Copyright 2026 cubestudio-dev <cubestudio@qq.com>

insmod vbe
insmod video
insmod video_fb
insmod gfxterm
insmod font
insmod iso9660
insmod multiboot2
insmod serial
loadfont /boot/grub/fonts/unicode.pf2
serial --unit=0 --speed=115200
# GRUB output goes to both serial and gfxterm, but input is console only
# (so our test scripts can send serial input to the kernel without GRUB
# interpreting it as menu keystrokes).
terminal_input console
terminal_output serial gfxterm
set color_normal=light-gray/black
set color_highlight=black/light-gray
set gfxmode=800x600x32
set gfxpayload=keep
echo "GFXTERM_INIT"
set timeout=5
set default=0
menuentry "Open Cube OS - WP-10a" {
    multiboot2 /boot/opencube.elf
    boot
}
